{
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": "error",
    "prefer-const": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "endOfLine": "auto"
      }
    ]
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "requireConfigFile": false,
    "babelOptions": {
      "babelrc": false,
      "configFile": false,
      // your babel options
      // "presets": ["@babel/preset-env"]
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["prettier"]
}