[Unit]
Description=Clive the clipbot

[Service]
ExecStart=/usr/bin/node /path/to/your/cloned/repo/clive/index.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=LOG_LEVEL=error
Environment=LOG_FILE=/var/log/clive.log
Environment=DB_FILE=/path/to/your/db.json
Environment=DISCORD_WEBHOOK_URL=https://discordapp.com/api/webhooks/YOUR_DISCORD/WEBHOOK_URL_HERE
Environment="TWITCH_CHANNELS=a_twitch_channel another_twitch_channel"
Environment=TWITCH_CLIENT_ID=null
Environment=MODS_ONLY=false
Environment=SUBS_ONLY=false
Environment=BROADCASTER_ONLY=false
Environment=RICH_EMBED=true
Environment=URL_AVATAR=http://i.imgur.com/9s3TBNv.png
Environment=BOT_USERNAME=Clive

[Install]
WantedBy=multi-user.target
